// Place all the styles related to the Admin/Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.picture_div {
  width: 150px;
  position: relative;

  .change_image_btn {
    background-color: rgba(204, 203, 203, 0.34);
    bottom: 1px;
    height: 30px;
    opacity: 0.6;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 150px;
    cursor: pointer;
  }
}